/* Comment here */

html {
	scroll-behavior: smooth;
}

body {
	foreground: #161616
}

a {
	foreground: #161616
}

.visually-hidden {
	display: none
}

.card-category {
	color: #D73953
}

.section-tagline {
	color: #D73953
}
